---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$light-tan: #EAE0CC;
$medium-tan: #C9C3A1;
$light-green: #93A184;
$dark-green: #536B3A;
$custom-black: #0A0908;
$button-hover-blue: #1586ae;
$button-blue: #45b6ee;
$bright-green: #BDDB9E;
$cream: #FFF6DA;

main {
  background-color: $light-tan;
  color: $custom-black;
  font-family: sans-serif, Helvetica, Arial;
  text-align: center;
}

header {
  background-color: $dark-green;
  font-family: sans-serif, Helvetica, Arial;
}

h2 {
  color: $dark-green;
  text-align: center;
}

img {
  width: 80%;
  margin: auto;
}

.site-title{
  color: $light-tan;
  text-align: center;
  @include relative-font-size(2);
  font-weight: 400;
  width: 100%;
  padding-top: 40px;
}

.site-header {
  border-top: 0px solid $custom-black;
  border-bottom: 5px solid $custom-black;
}

a.button:link, a.button:visited {
  background-color: $bright-green;
  padding: 15px 22px;
  color: $custom-black;
  border-top: 1px solid $light-green;
  border-right: 1px solid $light-green;
  border-bottom: 3px solid $light-green;
  border-left: 3px solid $light-green;
  border-radius: 10px;
  text-decoration: none;
  @include relative-font-size(2);
}

a.button:hover, a.button:active {
  background-color: $button-hover-blue
}
